{% extends 'master/master.html.twig' %}

{% block body %}
    <div class="container-fluid container-page-content mt-5">
        <div class="row">
            <div class="col-lg-3 col-12 page-sidebar">
                <div class="title-area">Notícias</div>

                <div class="list-options">
                    <div class="option active">
                        Fresquinhas
                        <i class="icn arrow-right"></i>

                        <div class="ntf">5</div>
                    </div>

                    <div class="option">
                        Eventos e promoções

                        <div class="ntf">5</div>
                    </div>

                    <div class="option">Internacionais</div>

                    <div class="option">
                        Eventos e promoções

                        <div class="ntf">5</div>
                    </div>

                    <div class="option">Internacionais</div>

                    <div class="option">Tudo</div>
                </div>

                <a href="{{ path_for('mainPage') }}">
                    <div class="back-main-page">
                        <i class="icn arrow-left-circle x3"></i>
                        <div class="text">
                            Menu principal
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-9 offset-lg-3 mt-lg-0 col-12 mt-3 page-main-content">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="subtitle-area cf">
                            <div class="fLeft">
                                Fresquinhas
                            </div>

                            <div class="ntf">5</div>
                        </div>
                    </div>
                </div>

                <div class="row page-content-scroll mt-4">
                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                        <div class="box-article">
                            <a href="#">
                                <div class="image" style="background-image:url('https://prohabbo.com.br/uploads/521cebb715.png');">
                                    <div class="caption"></div>
                                </div>
                            </a>

                            <a href="#">
                                <div class="title text-truncate">Sunt sunt noster amet noster cillum sunt summis quorum duis dolor quae quorum sunt minim illum fore quid quid multos</div>
                            </a>

                            <div class="category text-truncate">Habbo BR/PT</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'helpers/player-bottom.html.twig' %}
{% endblock %}
