{% extends 'master/master.html.twig' %}

{% block body %}
    <div class="container-fluid container-page-content mt-5">
        <div class="row">
            <div class="col-lg-3 col-12 page-sidebar">
                <div class="title-area">Valores</div>

                <div class="list-options">
                    <div class="option active">
                        Habblive
                        <small>(1200)</small>

                        <i class="icn arrow-right"></i>

                        <div class="ntf">5</div>
                    </div>

                    <div class="option">Habbo BR/PT</div>
                    <div class="option">Age Hotel</div>

                    <div class="option">
                        Habblet
                        <div class="ntf">5</div>
                    </div>
                </div>

                <a href="{{ path_for('mainPage') }}">
                    <div class="back-main-page">
                        <i class="icn arrow-left-circle x3"></i>
                        <div class="text">
                            Menu principal
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-9 offset-lg-3 mt-lg-0 col-12 mt-3 page-main-content">
                <div class="row no-gutters">
                    <div class="col-lg-9 col-6">
                        <div class="subtitle-area">Habblive</div>
                        <div class="subtitle-desc">1200 mobis encontrados</div>
                    </div>

                    <div class="col-lg-3 col-6 text-right">
                        <div class="dropdown">
                            <button class="button button-one button-dropdown cursorPointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icn circle mr-1"></i>
                                Selecionar raridade
                                <span class="icn arrow-down ml-1"></span>
                            </button>

                            <div class="dropdown-menu custom-dropdown">
                                <a class="dropdown-item" href="#">Raros</a>
                                <a class="dropdown-item" href="#">Super Raros</a>
                                <a class="dropdown-item" href="#">Hiper Raros</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row page-content-scroll mt-4">
                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-6 mt-4">
                        <div class="box-market-item">
                            <div class="image-wrapper">
                                <div class="image" style="background-image: url('http://i.imgur.com/zZCy0Dy.png');"></div>
                            </div>

                            <div class="price">
                                <div class="icn circle x2"></div>
                                10.000 LTD
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'helpers/player-bottom.html.twig' %}
{% endblock %}
